@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
    font-family: "Pixelify Sans", sans-serif;
}